tensorflow==2.5.1
opencv-contrib-python==4.3.0.36
numpy==1.21.0
pandas==1.0.5
Keras==2.4.3
Keras-Preprocessing==1.1.2
ipykernel==4.10.1
ipython==7.16.1
notebook==6.4.12
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
sklearn==0.0
